@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --gray: #2F2F35;
  --light-gray : #3A3B41;
  --white: #ffffff;
  --purple: #4F5E9C;


  --font-small: 12px;
  --font-medium: 20px;
  --font-large: 42px;

  --font-family: "Outfit", sans-serif;
}

body {
  font-family: var(--font-family);
  height: 100vh;
  background-color: var(--gray);
  color: var(--white);
}

main {
  display: flex;
  justify-content: center;
}

.sidebar {
  flex: 1;
  background-color: var(--purple);
  height: 100vh;
  padding: 2rem;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-sidebar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.link {
  padding: 10px 0;
  display: flex;
  gap: 30px;
  font-size: var(--font-medium);
  color: var(--white);
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: #434f81;
  border-radius: 5px;
}

.exit {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #434f81;
  border-radius: 5px;
  font-size: var(--font-medium);
  font-weight: bold;
  gap: 30px;
  color: var(--white);
}

.content {
  padding: 2rem;
  flex: 15;
  margin-bottom: 100px;
}

.content h1{
  font-weight: bold;
  font-size: var(--font-large);
}

.content button{
  border: none;
  font-size: var(--font-medium);
  color: var(--white);
  background-color: var(--purple);
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}

.content table{
  width: 100%;
  text-align: center;
  background-color: var(--light-gray);
  border-radius: 10px;
  padding: 30px 50px;
  font-size: var(--font-medium);
}

.content table tr th{
  font-weight: bold;
}

.table-header{
  margin: 20px 0;
}

td a{
  color: var(--white);
}

@media (max-width: 869px) {
  .sidebar{
    border: none;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding: 0px 25px;
    width: 100%;
    align-items: center;
    border-radius: 0;
  }

  .main-sidebar{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .links{
    display: flex;
    flex-direction: row;
  }

  .link{
    padding: 10px;
  }
  .header-sidebar{
    display: flex;
    flex-direction: row;
    display: none;
  }

  .exit{
    padding: 10px;
  }
}

@media (max-width: 660px) {
  th{
    display: none;
  }

  td{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    font-size: 16px;
  }

  td:last-child{
    padding-bottom: 20px;
  }

  td:nth-of-type(1)::before{
    content: "Nomor :";
  }

  td:nth-of-type(2)::before{
    content: "Nama :";
  }

  td:nth-of-type(3)::before{
    content: "kelamin :";
  }
  
  td:nth-of-type(4)::before{
    content: "Kelas :";
  }

  td:nth-of-type(5)::before{
    content: "Jurusan :";
  }

  td:nth-of-type(6)::before{
    content: "Aksi :";
  }
  
  .content table{
    padding: 10px 20px; 
  }
}