@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --gray: #2F2F35;
  --light-gray : #3A3B41;
  --white: #ffffff;
  --purple: #4F5E9C;


  --font-small: 12px;
  --font-medium: 20px;
  --font-large: 42px;

  --font-family: "Outfit", sans-serif;
}

body {
  margin: 0 20px;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--gray);
}

.login-container {
  color: var(--white);
  background-color: var(--light-gray);
  padding: 60px 100px;
  text-align: center;
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px 0;
}

.input-container input {
  background-color: inherit;
  border: 3px solid var(--white);
  border-radius: 5px;
  padding: 15px 25px;
  width: 100%;
  color: white;
}

.input-container input::placeholder {
  color: white;
}

.login-container h1 {
  font-size: var(--font-large);
}

.login-container button {
  border: none;
  background-color: var(--purple);
  color: var(--white);
  border-radius: 5px;
  padding: 15px 0;
  font-size: var(--font-medium);
  width: 100%;
  margin-bottom: 10px;
}

.login-container button:hover {
  box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, 0.25) inset;
}

.login-container p {
  font-size: var(--font-medium);
}

.login-container p a {
  font-weight: bold;
  color: var(--purple);
}

@media (max-width: 592px) {
  .login-container{
    padding: 30px 50px;
  }
}